<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Registro Puntajes</title>
</head>
<body>
    <div id="app" class="container d-grid gap-4">
        <h1 class="mt-3">Registro de puntajes</h1>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input id="nombre" placeholder="nombre" type="text" v-model="nuevaJugadora" @keyup.enter="agregarJugadora" class="form-control" autocomplete="off">
                    <label for="nombre">Nombre</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input id="nombre" placeholder="nombre" type="number" v-model="puntaje" @keyup.enter="agregarJugadora" class="form-control" autocomplete="off">
                    <label for="nombre">Puntaje</label>
                </div>                
            </div>
        </div>
        <button class="btn btn-outline-success" @click="agregarJugadora" :disabled="nuevaJugadora === '' || puntaje === ''">Anotar</button>


        <div class="table-responsive">
            <table class="table table-hover table-bordered" v-if="jugadoras.length != 0">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(jugadora, index) of jugadoras">
                        <td class="aling-middle">{{jugadora.nombre}}</td>
                        <td class="align-middle">
                            {{jugadora.puntaje}}
                            <div class="float-end">
                                <button 
                                class="material-icons btn btn-ligth fs-2"
                                :class="indice === index ? 'text-success' : 'text-muted'"
                                @click="registrarPuntaje(index)">edit</button>
                                <button class="material-icons btn btn-ligth fs-2" @click="eliminarJugadora(index)">close</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-outline-danger" @click="limpiar" v-if="jugadoras.length != 0">
            Limpiar lista
        </button>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
</body>
</html>